:root {
    --primary-color: #1b3764;
    --secondary-color: #4ab8b8;
    --tertiary-color: #fafccb;
    --quaternary-color: #efa35c;
    --primary-font: "Namdhinggo", serif;
    --secondary-font: "Satisfy", cursive;
}

body {
    background-image: url("../images/daylight-chuttersnap-unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--primary-font);
}

header {
    background: #0b1e3d;
}

h1 {
    font-family: var(--secondary-font);
    font-size: 50px;
    color: var(--quaternary-color);
    padding: 30px;
}

footer {
  background: black;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 8px;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: blueviolet;
}

.container {
     background: #f4efeb;
     margin: 70px 200px;
}

.popular-city-bar {
    color: var(--secondary-color);
    padding: 10px;
}

.coder {
    font-family: 'Courier New', Courier, monospace;
}