:root {
    --primary-color: #1b3764;
    --secondary-color: #4ab8b8;
    --tertiary-color: #fafccb;
    --quaternary-color: #efa35c;
    --primary-font: "Namdhinggo", serif;
    --secondary-font: "Satisfy", cursive;
}

body {
    background-image: url("../images/clouds-billy-huynh-unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: var(--primary-font);
    line-height: 1;
}

header {
    background: #0b1e3d;
}

h1 {
    font-family: var(--secondary-font);
    font-size: 50px;
    color: var(--quaternary-color);
}

h2 {
    color: var(--primary-color);
    font-size: 70px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

footer {
  font-size: 15px;
  font-family:'Times New Roman', Times, serif;
}

footer a {
  text-decoration: none;
  color: blueviolet;
  font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.container {
     background: #f4efeb;
     max-width: 1000px;
}

.popular-cities {
    color: var(--secondary-color);
    font-size: 26px;
}

.button {
    font-size: 19px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 45px;
}

.submit {
    background: blueviolet;
}

.current {
    background: var(--secondary-color);
}

.grid-one p {
    margin-bottom: 0;
}

.grid-one-temperature {
    font-size: 80px;
}

.grid-one-units {
    font-size: 18px;
}

.conditions {
    font-size: 20px;
}

.grid-two {
    background: white;
    font-size: 20px;
    border: 1px solid var(--quaternary-color);
    border-radius: 5px;
    padding: 15px;
    margin: 0 4px 35px 4px;
}

.grid-two p {
    margin-bottom: 0;
    padding: 5px;
}

.forecast-day {
    font-size: 24px;
}

.forecast-icon {
    font-size: 38px;
    padding: 15px;
}

.forecast-temperatures {
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.forecast-day {
    padding: 0 10px;
}

.forcast-night {
    padding: 0 10px;
}

.coder {
    font-family: 'Courier New', Courier, monospace;
}

